<template lang="pug">
NuxtPage
</template>
<script lang="ts" setup>
import { allResize } from "./data/func/helpFunc";

onMounted(() => {
  let nuxt = document.getElementById("__nuxt") as HTMLElement;
  allResize(nuxt);
});
</script>

<style></style>
