
@import ./_mixin
@import ./_variables

:root
  --v-avatar-height:50px
.v-application
  height: 100%

.menu_drawer
  transform: translateX(0px) !important
  .v-navigation-drawer__content
    overflow: initial
  .list_wrapper
    height: calc(100% - 165px)
    padding: 10px 5px 10px 0
  .list_box
    overflow: auto
    overflow-x: hidden
    @include scrollBar(3, $blue-grey-lighten-3, $blue-grey-lighten-5)
    .menu_list_item
      padding-inline-start: initial !important
      padding:5px 8px 5px 40px !important


    
.menu_main
  overflow: initial
  .main_wrapper
    padding: 10px 5px 10px 10px
  .main_box
    overflow: auto
    @include scrollBar(4, $blue-grey-lighten-5, $blue-grey-lighten-3)



  
    