<template lang="pug">
v-app
  AdminHeader(@drawerState="drawerState")
  AdminMenu
  AdminMain
</template>
<script lang="ts" setup>
const drawer = ref<boolean>(true);
const drawerState = () => {
  drawer.value = !drawer.value;
};
provide("drawer", drawer);
</script>
