<template lang="pug">
v-app-bar(color="blue-grey", prominent)
  v-app-bar-nav-icon(
    variant="text",
    :icon="hamburger",
    @click.stop="controlSidebar"
  )
  v-toolbar-title {{ `My files` }}
  v-spacer
</template>

<script lang="ts" setup>
const emits = defineEmits(["drawerState"]);
const drawer = inject("drawer") as Ref<boolean>;
const hamburger = ref<string>("mdi-food-off");

const controlSidebar = () => {
  emits("drawerState");
};
watch(drawer, (newValue: boolean) => {
  hamburger.value = newValue ? "mdi-food-off" : "mdi-food";
});
</script>
