<template lang="pug">
v-main.menu_main.h-100
  .main_wrapper.h-100(
    :class="drawer ? (isMobile ? 'pl-16' : 'pl-3') : isMobile ? 'pl-3' : 'pl-16'"
  )
    .main_box.h-100
      h1(v-for="(_, index) in 100", :key="index") {{ "hello admin page" }}
</template>
<script lang="ts" setup>
import { useDisplay } from "vuetify";
const { mobile } = useDisplay();
const isMobile = computed(() => mobile.value);
const drawer = inject("drawer") as Ref<boolean>;
</script>
<style lang="sass" scoped>
//
</style>
