<template lang="pug">
v-navigation-drawer.menu_drawer(
  color="blue-grey",
  v-model="drawer",
  prominent,
  :width="drawer ? (isMobile ? '256' : '256') : isMobile ? '0.00000000001' : '56'"
)
  v-list.h-100(
    :opened="opened",
    @update:opened="(newOpened) => (opened = newOpened.slice(-1))"
  )
    .c_avatar
      v-avatar(:size="!drawer === true ? 40 : 80")
        v-img(src="https://cdn.vuetifyjs.com/images/john.jpg")
      v-list-item(
        v-show="drawer",
        subtitle="sandra_a88@gmailcom",
        title="Sandra Adams"
      )
    v-divider.w-75.ma-auto
    .list_wrapper
      .list_box.h-100
        v-list-group(
          v-for="item in menuItems",
          :key="item.title",
          :value="item",
          :prepend-icon="item.icon"
        )
          template(v-slot:activator="{ props }")
            v-list-item(:key="item.title", v-bind="props", :title="item.title")
          v-list-item.menu_list_item(
            v-show="drawer",
            v-for="([title, icon], i) in item.subMenuItems[0]",
            :key="i",
            :value="activeGroup",
            @click.stop="setActiveGroup(title)"
          )
            .list_content.d-flex
              v-icon.mr-3(:icon="icon")
              p {{ title }}
</template>
<script lang="ts" setup>
import { useDisplay } from "vuetify";
const drawer = inject("drawer") as Ref<boolean>;
const activeGroup = ref<string | null>(null);
const { mobile } = useDisplay();
const isMobile = computed(() => mobile.value);
const rail = ref<boolean>(drawer.value);

const drawers = ref<boolean>(true);

const opened = ref<string[]>([]);
const drawerModel = computed({
  get: () => (isMobile.value ? drawers.value : drawer.value),
  set: (val) => (isMobile.value ? (drawers.value = val) : (drawer.value = val)),
});
const menuItems = ref([
  {
    id: 1,
    title: "Menu Item 1",
    icon: "mdi-account",
    subMenuItems: [
      [
        ["CreaCCte", "mdi-plus-outline"],
        ["Read", "mdi-file-outline"],
        ["Update", "mdi-update"],
        ["Delete", "mdi-delete"],
      ],
    ],
  },
  {
    id: 2,
    title: "Menu Item 2",
    icon: "mdi-account",
    subMenuItems: [
      [
        ["CreaCCte", "mdi-plus-outline"],
        ["Read", "mdi-file-outline"],
        ["Update", "mdi-update"],
        ["Delete", "mdi-delete"],
      ],
    ],
  },
  {
    id: 3,
    title: "Menu Item 3",
    icon: "mdi-account",
    subMenuItems: [
      [
        ["Create", "mdi-plus-outline"],
        ["Read", "mdi-file-outline"],
        ["Update", "mdi-update"],
        ["Delete", "mdi-delete"],
      ],
    ],
  },
  {
    id: 3,
    title: "Menu Item 3",
    icon: "mdi-account",
    subMenuItems: [
      [
        ["Create", "mdi-plus-outline"],
        ["Read", "mdi-file-outline"],
        ["Update", "mdi-update"],
        ["Delete", "mdi-delete"],
      ],
    ],
  },
]);

const setActiveGroup = (group: string) => {
  console.log("group::", group);
  nextTick(() => {
    activeGroup.value = null;
    console.log("activeGroup.value::", activeGroup.value);
  });
};
</script>
<style lang="sass" scoped>
.c_avatar
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 15px
</style>
